* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes correct {
  from {
    background-color: green;
  }
  to {
    background-color: greenyellow;
  }
}

body {
  width: 100%;
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  height: 100%;
  max-width: 100%;
}

.quiz-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
}

.start-btn {
  display: none;
  margin: auto;
  font-size: 3rem;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;

  &.show {
    display: initial;
  }
}

.count-down {
  width: 100%;
  display: none;
  padding: 2rem;
  text-align: center;
  background-color: #000;

  @keyframes zoomIn {
    0% {
      transform: scale(0.25);
    }

    100% {
      transform: scale(1);
    }
  }

  span {
    display: inline-block;
    color: white;
    font-size: 3rem;
  }

  &.show {
    display: initial;
    span {
      animation: zoomIn 300ms ease-in 1;
    }
  }
}

.quiz-content {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #eee;
  position: relative;

  &.show {
    display: flex;
    flex-direction: column;
  }

  .header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    .question-count {
      background-color: rgba(0, 0, 0, 0.2);
      padding: 0 0.75rem;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      font-size: 0.74rem;
      height: 40px;

      .current {
        font-size: 1rem;
      }
    }

    .streak {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 0.5rem;
      min-width: 200px;
      // height: auto;
      height: 40px;
      border: 2px solid rgba(0, 0, 0, 0.2);

      .line {
        width: 2px;
        height: 40%;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .scores {
      flex: 1;
      text-align: end;
    }
  }

  .content {
    $contentRadius: 1rem;
    $padding: 0.5rem;

    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border-radius: $contentRadius;
    padding: $padding;
    position: relative;
    overflow: hidden;

    .overlay {
      inset: 0;
      position: absolute;
      background: rgba(0, 0, 0, 0.2);
      align-items: center;
      justify-content: center;
      display: none;

      &.show {
        display: flex;
      }
    }

    .question {
      background-color: #ffe07b;
      border-radius: $contentRadius - $padding;
      padding: 1rem 0.75rem;

      p {
        text-align: center;
        font-size: 1.25rem;
      }
    }

    .answer-result {
      width: 100%;
      height: 60px;
      opacity: 0;
      visibility: hidden;
      border-radius: $contentRadius - $padding;
      text-align: center;
      color: white;
      line-height: 60px;

      &.correct {
        background-color: green;
        opacity: 1;
        visibility: visible;

        span::after {
          content: "CORRECT";
        }
      }

      &.incorrect {
        background-color: red;
        opacity: 1;
        visibility: visible;

        span::after {
          content: "INCORRECT";
        }
      }
    }

    .options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem;

      div {
        label {
          width: 100%;
          display: inline-block;
          padding: 1rem 0.75rem;
          background-color: #ffe07b;
          border-radius: $contentRadius - $padding;

          &:hover {
            background-color: #7bf2ff;
            cursor: pointer;
          }
        }

        &.correct label {
          background-color: green;
          animation: correct 200ms 4;
          // animation: name duration timing-function delay iteration-count direction fill-mode;
        }

        &.incorrect label {
          background-color: red !important;
        }

        &.hide {
          opacity: 0;
          visibility: hidden;
        }

        input:checked + label {
          background-color: #7bf2ff;
        }
      }
    }

    @media only screen and (max-width: 960px) {
      .options {
        grid-template-columns: 1fr;
      }
    }
  }
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 1rem;
  height: 4px;
  background-color: #848484;
  border-radius: 2px;
  overflow: hidden;
  display: none;

  div {
    height: 100%;
    background-color: #7bf2ff;
  }
}
