<h1 class="text-2xl font-bold">Đổi mật khẩu</h1>

<form action="" method="post" class="max-w-md mx-auto border rounded-lg p-4 mt-6">
  <input name="userId" type="text" value="<%= user %>" hidden />

  <label class="form-control w-full">
    <div class="label">
      <span class="label-text">Mật khẩu cũ</span>
    </div>
    <input
      name="password"
      type="password"
      data-password="true"
      placeholder="Nhập lại mật khẩu cũ"
      class="input input-bordered input-sm w-full"
      value="<%= validateFallback.formData.password %>"
    />
    <% if (validateFallback.errors.password) { %>
    <div class="label">
      <span class="label-text-alt text-error"><%= validateFallback.errors.password %></span>
    </div>
    <% } %>
  </label>

  <label class="form-control w-full">
    <div class="label">
      <span class="label-text">Mật khẩu mới</span>
    </div>
    <input
      type="password"
      name="newPassword"
      data-password="true"
      placeholder="Nhập mật khẩu mới"
      class="input input-bordered input-sm w-full"
    />
    <% if (validateFallback.errors.newPassword) { %>
    <div class="label">
      <span class="label-text-alt text-error"><%= validateFallback.errors.newPassword %></span>
    </div>
    <% } %>
  </label>

  <div class="form-control mt-4">
    <label class="label cursor-pointer">
      <span class="label-text">Hiện mật khẩu</span>
      <input type="checkbox" class="checkbox" onchange="handleShowPassword(this)" />
    </label>
  </div>

  <div class="form-control mt-2">
    <label class="label cursor-pointer">
      <span class="label-text">Đăng xuất khỏi tất cả các thiết bị khác</span>
      <input name="logout" type="checkbox" checked="checked" class="checkbox" />
    </label>
  </div>

  <div class="mt-4 flex space-x-4">
    <button class="btn btn-sm" type="submit">Đổi mật khẩu</button>
    <a href="/tai-khoan-cua-toi" class="btn btn-sm btn-error text-white" type="submit">Quay lại</a>
  </div>
</form>

<script>
  function handleShowPassword(target) {
    let inputType = ""
    const inputs = document.querySelectorAll("input[data-password='true']")
    if (target.checked) {
      inputType = "text"
    } else {
      inputType = "password"
    }
    inputs.forEach(function (input) {
      input.type = inputType
    })
  }
</script>
