<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F8 - Học lập trình để đi làm</title>
  </head>
  <body>
    <header>
      <h2>HEADER</h2>
    </header>
    <main><%- body %></main>
    <footer>
      <h2>FOOTER</h2>
    </footer>
  </body>
</html>
