<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="border-b-[1px]">
      <div class="container max-w-6xl mx-auto px-4 navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl"><%- typeof user === "object" ? user.email : 'Guest' %></a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a href="/mail">Gửi email</a></li>
            <li><a href="/sent">Thư đã gửi</a></li>

            <% if (typeof user === "object") { %>
            <li>
              <form action="/logout" method="post">
                <button type="submit">Đăng xuất</button>
              </form>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </header>

    <main class="container max-w-6xl mx-auto px-4 mt-4"><%- body %></main>
  </body>
</html>
