* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}

.carousel .carousel-inner {
  display: flex;
  transition: transform 400ms ease;
}

.carousel .carousel-nav button {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
  display: flex;
  background: rgba(128, 128, 128, 0.8);
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 99px;
  border: none;
}

.carousel .carousel-nav button#prev {
  left: 0.5rem;
  user-select: none;
}

.carousel .carousel-nav button#next {
  right: 0.5rem;
  user-select: none;
}

.carousel .carousel-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  gap: 10px;
}

.carousel .carousel-dots span {
  display: block;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.carousel .carousel-dots span:hover,
.carousel .carousel-dots span.active {
  background: goldenrod;
}
