* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 1600px;
}

.carousel .carousel-inner {
  display: flex;
  transition: transform 400ms ease;
}

.carousel .carousel-nav span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
  display: flex;
  background: gray;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

.carousel .carousel-nav span.prev {
  left: 5px;
  user-select: none;
}

.carousel .carousel-nav span.next {
  right: 5px;
  user-select: none;
}
