<h1>Quản lý vai trò</h1>

<a class="btn btn-primary" href="/dashboard/roles/create">Thêm mới</a>

<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th scope="col" style="width: 5%;">STT</th>
      <th scope="col">Tên</th>
      <th scope="col" style="width: 12%;" class="text-center">Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">1</td>
      <td>Mark</td>
      <td class="text-center">
        <button type="button" class="btn btn-warning btn-sm">Sửa</button>
        <button type="button" class="btn btn-danger btn-sm">Xoá</button>
      </td>
    </tr>
  </tbody>
</table>
