* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

.stepper {
  width: 40%;

  &__item {
    --space-width: 3rem;
    position: relative;
    display: flex;
    margin-bottom: 0.5rem;

    &__left {
      position: relative;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      text-align: end;
      margin-bottom: 2.5rem;
      transition: all 400ms ease-in-out;

      h3 {
        font-family: "Space Grotesk", sans-serif;
        font-size: 1.35rem;
      }

      p {
        color: #8f8f92;
      }

      span {
        display: inline-block;
        background-color: #f3f3f3;
        padding: 0.25rem 0.75rem;
        border-radius: 1rem;
        font-family: "Space Grotesk", sans-serif;
        transition: background-color 400ms ease;
      }
    }

    &__space {
      --desc-size: 0.5rem;
      position: relative;
      width: var(--space-width);
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;

      &__desc {
        position: relative;
        display: inline-block;
        width: calc(var(--desc-size) * 2.5);
        height: calc(var(--desc-size) * 2.5);
        background-color: #edf6f4;
        border-radius: 50%;

        &::before {
          content: "";
          width: var(--desc-size);
          height: var(--desc-size);
          border-radius: 50%;
          background: linear-gradient(0deg, rgba(67, 132, 121, 1) 0%, rgba(87, 188, 172, 1) 100%);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }
      }
    }

    &__right {
      min-width: max-content;
      transition: all 400ms ease-in-out;
    }

    &:not(:last-child) &__space {
      &__line {
        position: absolute;
        width: 1px;
        top: 0;
        bottom: 0;
        background-color: #8f8f92;
        margin-top: calc(var(--desc-size) * 2.5 + 0.5rem);
      }
    }

    &:hover &__left {
      text-align: start;
      transform: translateX(calc(100% + var(--space-width)));
      span {
        color: white;
        background-color: #a36f5b;
        white-space: nowrap;
      }
    }

    &:hover &__right {
      text-align: right;
      transform: translateX(calc(-100% - var(--space-width)));
    }
  }
}
