<header class="shadow-md">
  <div class="container max-w-screen-lg">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">F8 Fullstack</a>
      </div>

      <div class="flex-none space-x-4">
        <% if (typeof user !== "undefined") { %>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
              />
            </div>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li>
              <a href="/tai-khoan-cua-toi" class="justify-between"> Thông tin tài khoản </a>
            </li>
            <li><a href="/dang-xuat" class="text-error">Đăng xuất</a></li>
          </ul>
        </div>
        <% } else { %>
        <a href="/dang-nhap" class="btn btn-sm">Đăng nhập</a>
        <% } %>
      </div>
    </div>
  </div>
</header>
