<div>
  <h1>Đăng nhập</h1>

  <% if (message) {%>
    <p><%= message %></p>
  <% } %>

  <form action="" method="post">
    <input name="email"  type="text" placeholder="Email" />
    <input name="password" type="password" placeholder="Mật khẩu" />
    <button>Login</button>
  </form>
</div>
