// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$black-200: hsla(0, 0%, 0%, 0.2);
$black-100: hsla(0, 0%, 0%, 0.1);
$blue: hsl(230, 100%, 32%);
$red: hsl(3, 98%, 57%);

//
$header-height: 120px;
