<h1>Chào mừng bạn đến với F8</h1>

<ul class="d-flex gap-2 list-unstyles">
  <li>Chào bạn: <%= user.name %></li>
  <li><a href="/auth/logout">Đăng xuất</a></li>
  <li><a href="/dashboard">Trang quản trị</a></li>
</ul>
